<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style/style.css" />
<script src="views\testscript.ejs"></script>
<title>A Test Tool</title>
</head>
  <body>
<table>
<tr>
<td style="width: 200px;">
<p><img src="public/gif_Spider.gif"/></p>
</td>
<td style= "vertical-align: top";>
<h1>A Test Tool</h1>
</td>
</tr>
<tr>
<td>
<h3>Images sources</h3>
</td>
<td>
<h3>Download zip</h3>
</td>
</tr>
<tr>
<td>
<p>TODO</p>
</td>
<td>
<p></p>
</td>
</tr>
<tr>
<td>
<p>TODO</p>
</td>
<td>
<p></p>
</td>
</tr>
<tr>
<td>
<p>TODO</p>
</td>
<td>
<p></p>
</td>
</tr>
</table>
 </body>
</html>
