<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css" />
<title>A Test Tool</title>
<script type="text/javascript" src="testscript.js"></script>
</head>
  <body>
<h1>A Test Tool</h1>
<h3>Images</h3>
<p><img src="TestsOn-going.png" alt="Tests On-going"/></p>
<p><a href ="TestsOn-going.png"> TestsOn-going.png</a></p>
<h3>Nodejs test project with page in ejs - zip to download</h3>
<p><a href ="TestProject_Node_ejs.zip"> TestProject_Node_ejs.zip</a></p>
<p>Testing Testing</p>
<button type = "button" onclick="testComplete()">Testing Done!</button>
 </body>
</html>
