<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style/style.css" />
<script src="/public/testscript.ejs"></script>
<title>A Test Tool</title>
</head>
  <body>
<h1>A Test Tool</h1>
<h3>Image</h3>
<p><img src="TestsOn-going.png" alt="Tests On-going"/></p>
<h3>Download zip</h3>
<p><a href ="TestProject_Node_ejs.zip"> TestProject_Node_ejs.zip</a></p>
 </body>
</html>
