<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css" />
<title>A Test Tool</title>
<script type="text/javascript" src="testscript.js"></script>
</head>
  <body>
<h1 id="item1Heading">A Test Tool</h1>
<table style="width:100%">
  <tr>
  </tr>
<tr>
<td>
<h3 id="item2Heading">An Image</h3>
<p><img src="TestsOn-going.png" alt="Tests On-going"/></p>
<p><a href ="TestsOn-going.png"> TestsOn-going.png</a></p>
</td>
<td>
<h3 id="item3Heading">Another Image</h3>
<p><img src="todoIcon_UItest.png" alt="ToDo"/></p>
<p><a href ="todoIcon_UItest.png"> todoIcon_UItest.png</a></p>
</td>
<td>
<h3 id="item4Heading">Trello Image</h3>
<p><img src="trello.png" alt="trello"/></p>
<p><a href ="trello.png"> trello.png</a></p>
</td>
<td>
<h3 id="item5Heading">Navigation</h3>
<p><a href ="secondPage.ejs"> Second Page</a></p>
<p><a href ="http://example.com/"> Other Page</a></p>
</td>
<td>
<p>Status Icons</p>
<p><img src="green.png" alt="green"/></p>
<p><a href ="green.png"> green.png</a></p>
<p><img src="red.png" alt="red"/></p>
<p><a href ="red.png"> red.png</a></p>
</td>
</tr>
<tr>
<td>
<h3>Jasmine Image</h3>
<p><img src="jasmine.png" alt="jasmine"/></p>
<p><a href ="jasmine.png"> jasmine.png</a></p>
</td>
<td>
<h3>Casperjs Image</h3>
<p><img src="casperjs.png" alt="casperjs"/></p>
<p><a href ="casperjs.png"> casperjs.png</a></p>
</td>
<td>
<h3>Phantomjs Image</h3>
<p><img src="phantomjs.png" alt="phantomjs"/></p>
<p><a href ="phantomjs.png"> phantomjs.png</a></p>
</td>
<td>
<h3>Puppeteer Image</h3>
<p><img src="puppeteer.png" alt="puppeteer"/></p>
<p><a href ="puppeteer.png"> puppeteer.png</a></p>
</td>
<td>
<h3>Mocha Image</h3>
<p><img src="mocha.png" alt="mocha"/></p>
<p><a href ="mocha.png"> mocha.png</a></p>
</td>
</tr>
<tr>
<td>
<p>Test Case Name:</p>
<input type="text" size="30" name="tcname" placeholder="Test case name">
</td>
<td id="item1contents1">
<h3 id="item1heading">Test Links</h3>
<p><a href="https://12factor.net/">12factor</a></p>
<p><a href="http://agilemanifesto.org/principles.html ">agilemanifesto</a></p>
<p><a href="https://www.scrum.org/resources/what-is-scrum">what-is-scrum</a></p>
<p><a href="https://martinfowler.com/articles/microservices.html">microservices</a></p>
</div>
</td>
<td>
<p>Testing Testing</p>
<button type = "button" onclick="testComplete()" name="testbutton">Testing Done!</button>
</td>
<td>
<h3>A Documentation</h3>
<p><a href ="doc.html"> Documentation for A Test Tool</a></p>
<h3>A Test Project in nodejs</h3>
<p><a href ="TestProject_Node_ejs.zip"> TestProject_Node_ejs.zip to download</a></p>
</td>
<td>
<h3>A Test Project in php</h3>
<p><a href ="phpapp/composer.json"> composer.json to download</a></p>
<p><a href ="phpapp/index.php"> index.php to download</a></p>
<p><a href ="phpapp/manifest.yml"> manifest.yml to download</a></p>
</td>
</tr>
</table>
 </body>
</html>